@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/montserrat-700.eot');
    src: url('../fonts/montserrat-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-700.woff2') format('woff2'),
    url('../fonts/montserrat-700.woff') format('woff'),
    url('../fonts/montserrat-700.ttf') format('truetype'),
    url('../fonts/montserrat-700.svg#montserrat-700') format('svg');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/montserrat-400.eot');
    src: url('../fonts/montserrat-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-400.woff2') format('woff2'),
    url('../fonts/montserrat-400.woff') format('woff'),
    url('../fonts/montserrat-400.ttf') format('truetype'),
    url('../fonts/montserrat-400.svg#montserrat-400') format('svg');
}
